.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner-items {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.banner img {
  background-size: cover;
  object-position: 50% 10%;
  object-fit: cover;
  height: 100vh;
  z-index: -1;
  width: 100vw;
}

.banner .banner-title {
  color: #e2e2e2;
  text-align: center;
}

.banner .btn {
  padding: 10px 20px;
  margin-top: 14px;
}

.banner .banner-title h1 {
  font-weight: bold;
}


