.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-title {
  text-align: center;
}

.project-card img {
  height: 500px;
  width: 500px;
  object-fit: contain;
}

.project-card {
  display: grid;
  grid-gap: 16px;
  /*flex-direction: row;
  align-items: center;*/
}

.bild-content {
 /* display: flex;
  flex-direction: column;
  justify-content: center;*/
  /*min-height: 100vh;*/
  padding: 5%;
}

.airbnb-content {
  padding: 5%;
}

/*.airbnb-card {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}*/

.tool-logos {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}

.tool-logos img {
  height: 50px;
  width: 50px;
  object-fit: contain;
  margin: 5px;
}

@media only screen and (max-width: 395px) {
  .project-card {
    grid-template-columns: 1fr;
  }
}


@media only screen and (min-width: 395px) and (max-width: 575px) {
  .project-card {
    grid-template-columns: 1fr;
  }
}


@media only screen and (min-width: 575px) and (max-width: 993px) {
  .project-card {
    grid-template-columns: 1fr;
  }
}


@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .project-card {
    grid-template-columns: 1fr 1fr;
  }
}


@media only screen and (min-width: 1200px) {
  .project-card {
    grid-template-columns: 1fr 1fr;
  }
}
