.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-title {
  text-align: center;
}

.project-cards img {
  height: 500px;
  /*width: 70vw;*/
  width: 350px;
  object-fit: contain;
  align-self: center;
  /*display: flex;
  justify-content: center;*/
}

/*.project-cards h1 {
  font-size: 3vw;
}

.project-cards p {
  font-size: 2vw;
}*/

.project-cards {
  display: grid;
  grid-gap: 16px;
  /*grid-template-columns: 33% 33%;*/
  align-items: center;
}

.bild-content {
 /* display: flex;
  flex-direction: column;
  justify-content: center;*/
  /*min-height: 100vh;*/
  padding: 5%;
}

.airbnb-content {
  padding: 5%;
}

/*.airbnb-card {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.bild-card {
  display: flex;
  flex-direction: row;
  align-items: center;
}*/

.tool-logos {
  display: grid;
  grid-gap: 0px;
/*  display: flex;
  flex-direction: row;*/
  align-items: center;
  margin-bottom: 1rem;
}

.tool-logos img {
  height: 40px;
  width: 40px;
  object-fit: contain;
  margin: 5px;
}

@media screen and (min-width: 801px) {
  .project-cards {
    font-size: 18px;
  }
}

@media screen and (max-width: 800px) {
  .project-cards {
    font-size: 14px;
  }
}

@media screen and (max-width: 799px) {
  .project-cards {
    font-size: 10px;
  }
}

/*Projects tools img grid*/

@media only screen and (max-width: 480px) {
  .tool-logos {
    grid-template-columns: 1fr 1fr;
  }
}


@media only screen and (max-width: 350px) {
  .tool-logos {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


@media only screen and (min-width: 350px) and (max-width: 650px) {
  .tool-logos {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}


@media only screen and (min-width: 650px) {
  .tool-logos {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

/*Project cards grid*/

@media only screen and (max-width: 1250px) {
  .project-cards {
    grid-template-columns: 1fr;
  }
}


@media only screen and (min-width: 1250px) {
  .project-cards {
    grid-template-columns: 1fr 1fr;
  }
}
