
/*.navbar {
  height: 100%;
  width: 70px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #204051;
  overflow-x: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}*/

.navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
}

.navbar .page-links a {
  padding: 6px 6px 48px 20px;
  text-decoration: none;
  font-size: 25px;
  color: #84a9ac;
}

.navbar .page-links i {
  padding-right: 5px;
}


.navbar .page-links a:hover {
  color: #818181;
  text-decoration: underline;
}


/*@media screen and (max-height: 450px) {
  .navbar {padding-top: 15px;}
  .navbar a {font-size: 18px;}
}*/

.navbar .social-links a {
  padding: 6px 6px 6px 20px;
  text-decoration: none;
  font-size: 25px;
  color: #84a9ac;
}

.navbar .social-links a:hover {
  color: #818181;
}

